<div class="my-3 mx-3">
  <h5>Employee Details</h5>
  
<div>

  <mat-table [dataSource]="dataSource" matSort   class="mat-elevation-z8">

     
       <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Id<br> <mat-form-field>
            <input matInput type="text" (keyup)="doFilter($event.target.value)" >
          </mat-form-field></mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
      </ng-container>


      <ng-container matColumnDef="employee_name" >
          <mat-header-cell *matHeaderCellDef mat-sort-header  > Name
            <mat-form-field>
              <input matInput type="text" (keyup)="doFilter($event.target.value)"  >
           </mat-form-field>
          
          </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.employee_name}} </mat-cell>
      </ng-container>


      <ng-container matColumnDef="employee_salary">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Salary 
            <mat-form-field >
              <input matInput type="text" (keyup)="doFilter($event.target.value)" >
            </mat-form-field>
          </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.employee_salary}} </mat-cell>
      </ng-container>


      <ng-container matColumnDef="employee_age">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Age 

            <mat-form-field>
              <input matInput type="text" (keyup)="doFilter($event.target.value)"  >
            </mat-form-field>
          </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.employee_age}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="createdAt">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Created At
            <mat-form-field>
              <input matInput type="text" (keyup)="doFilter($event.target.value)" >
            </mat-form-field>
          
          </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.createdAt|date}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="updatedAt">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Updated At
            <mat-form-field>
              <input matInput type="text" (keyup)="doFilter($event.target.value)" >
            </mat-form-field>
          </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.updatedAt|date}} </mat-cell>
        </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"  [ngClass]="{'highlight': selectedRowIndex == row.id}"
      (click)="highlight(row)" (change)=" getData($event)"
      ></mat-row>
    </mat-table>
    <button mat-button color="primary"   (click)="onClick()">Click here</button>
  </div>

  <!-- <mat-paginator #paginator [pageSize]="4" [pageSizeOptions]="[3, 6, 7]" showFirstLastButtons></mat-paginator> -->
  <mat-paginator [pageSize]="3" [pageSizeOptions]="[3, 5, 10]" showFirstLastButtons></mat-paginator>

</div>