<div class="my-3 mx-3">
  <h5>Employee Details</h5>
  
<div>

  <mat-table [dataSource]="dataSource" matSort   class="mat-elevation-z8">

     
       <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Id<br><mat-icon>search</mat-icon> <mat-form-field>
            <input matInput type="text" (keyup)="doFilter($event.target.value)" >
          </mat-form-field></mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
      </ng-container>


      <ng-container matColumnDef="employee_name" >
          <mat-header-cell *matHeaderCellDef mat-sort-header> Name<br><mat-icon>search</mat-icon>
            <mat-form-field>
              <input matInput type="text" (keyup)="doFilter($event.target.value)"  >
           </mat-form-field>
          
          </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.employee_name}} </mat-cell>
      </ng-container>


      <ng-container matColumnDef="employee_salary">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Salary <br><mat-icon>search</mat-icon>
            <mat-form-field >
              <input matInput type="text" (keyup)="doFilter($event.target.value)" >
            </mat-form-field>
          </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.employee_salary}} </mat-cell>
      </ng-container>


      <ng-container matColumnDef="employee_age">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Age <br><mat-icon>search</mat-icon>

            <mat-form-field>
              <input matInput type="text" (keyup)="doFilter($event.target.value)"  >
            </mat-form-field>
          </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.employee_age}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="createdAt">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Created At<br><mat-icon>search</mat-icon>
            <mat-form-field>
              <input matInput type="text" (keyup)="doFilter($event.target.value)" >
            </mat-form-field>
          
          </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.createdAt|date}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="updatedAt">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Updated At<br><mat-icon>search</mat-icon>
            <mat-form-field>
              <input matInput type="text" (keyup)="doFilter($event.target.value)" >
            </mat-form-field>
          </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.updatedAt|date}} </mat-cell>
        </ng-container>
        

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"  
      (click)="highlight(row)"
      ></mat-row>
      <ng-container matColumnDef="getdetails">
        <mat-header-cell *matHeaderCellDef> Details </mat-header-cell>
        <mat-cell *matCellDef="let element"> <button mat-raised-button color="primary" (click)="getRecord(element.id)">Get Details</button> </mat-cell>
        </ng-container>
    </mat-table>
    
  <mat-paginator [pageSize]="3" [pageSizeOptions]="[3, 5, 10]" showFirstLastButtons></mat-paginator>

</div>