<div class="my-3 mx-3">
    <h5>Employee Details based on Id</h5>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Salary</th>
            <th>Age</th>
            <th>Created At</th>
            <th>Updated At</th>
        </tr>
    </thead><tbody>
        <tr *ngFor='let x of list1'>
            <th>{{x.id}}</th>
            <th>{{x.employee_name}}</th>
            <th>{{x.employee_salary}}</th>
            <th>{{x.employee_age}}</th>
            <th>{{x.createdAt}}</th>
            <th>{{x.updatedAt}}</th>
        </tr>
    </tbody>
    </table>
</div>
