<mat-table [dataSource]="dataSource" matSort   class="mat-elevation-z8">

   
    

    <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Id</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="employee_name" >
        <mat-header-cell *matHeaderCellDef mat-sort-header  > Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.employee_name}} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="employee_salary">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Salary </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.employee_salary}} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="employee_age">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Age </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.employee_age}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="createdAt">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Created At </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.createdAt|date}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="updatedAt">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Updated At </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.updatedAt|date}} </mat-cell>
      </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>


  

